body {
  margin: 0
}
.navbar,
.submenu-navbar {
  background-color: #f9bd27;
  float: left;
  width: 100px;
  height: 100%;
}

.submenu-navbar {
  display: none;
  width: 350px;
}

@font-face {
  font-family: mic_font;
  src: url('PFBeauSansPro-Light.ttf')
}

.submenu-navbar span {
  display: block;
  text-align: center;
  height: 50px;
  width: 100%;
  padding-top: 25px;
  font-size: 20pt;
  font-family: mic_font;
}

.submenu-navbar span:hover {
  background-color: lightgray;
  cursor: pointer;
}

.navbar .show-lines {
  display: block;
  background: url('glyphicons_show_lines.png') no-repeat;
  background-position: center center;
  width: 100px;
  height: 100px;
}

.navbar .current {
  width: 100px;
  height: 100px;
}

.navbar .current img {
  width: 100%;
}

.navbar span {
  cursor: pointer;
}

.navbar span:hover {
  background-color: lightgray;
}

#it {
  padding-top: 5px;
  height: 70px;
}

.header {
  height: 120px;
  float: left;
  width: 100%;
  float: left;
  border-bottom: 1px solid lightgray;
}
.header .main_header {
  background-image: url('header_1.jpg');
  background-color: white;
  float: left;
  height: 100%;
  opacity: 0.5;
}
.header .logo {
  width: 100px;
  height: 100%;
  float: left;
  background-color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header .logo img {
  width: 90%;
}

